* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body  {
background: url('assets/img/bgc.png') repeat;
font-family: 'Roboto', sans-serif;
color: $c-white;
}
.contaiter {
    max-width: 1980px;
    padding: 0 30px;
    margin: 0 auto;
    width: 100%;
}

.wrapper {
    max-width: 1290px; 
    margin: 0 auto;
}
img {
 width: 100%;
}

ul li {
    list-style: none;
}

input {
    outline: none;
}

a {
    text-decoration: none;
}