// Colors


$c-background: #121212;

// Gradient (btn)
$c-nav-btn-2:#7C6AFA;
$c-nav-btn: #C89AFC;

// Gradient (btn 'order', percent line, half-circle)
$c-order-bnt-2: #451046;
$c-order-bnt: #DF5950;


$c-light-white: #ffffff66;
$c-light-white-08: #ffffffcc;
$c-light-white-03: #ffffff4d;
$c-black: #000;
$c-white: #fff;


//Height

$height: 80px;