// Colors


$c-background: #121212;

// Gradient (btn)
$c-nav-btn-2:#7C6AFA;
$c-nav-btn: #C89AFC;

// Gradient (btn 'order', percent line, half-circle)
$c-order-bnt-2: #451046;
$c-order-bnt: #DF5950;

//Gradient (border for img)

$c-vivid-border: #c89afc;
$c-vivid-border-2: #7c6afa;


$c-light-white: #ffffff66;
$c-black: #000;
$c-white: #fff;
