.modal {
    background-color: rgba(31, 31, 36, 0.2);
    justify-content: center;
    pointer-events: none;
    align-items: center;
    transition: 0.5s;
    position: fixed;
    display: flex;
    height: 100vh;
    width: 100vw;
    z-index: 200;
    opacity: 0;
    left: 0;
    top: 0;


    &.active {
        pointer-events: all;
        opacity: 1;
    }

    &__content {
        background-color: $c-white;
        transform: scale(0.5);
        transition: 0.4s all;
        padding: 10px;
        width: 50vw;

        &.active {
            transform: scale(1);
        }
    
    }
}