.header {
    position: fixed;
    z-index: 2;
    right: 0;
    left: 0;
    top:0;

    &__wrapper {
        justify-content: space-between;
        align-items: center;
        padding: 40px 80px;
       
        display: flex;
        width: 100%;
    }

    &__logo {
        height: 40px;
        width: 40px;
    }

    &__navigation {
        justify-content: space-between;
        align-items: center;
        display: flex;
        gap: 20px;


        &-item a {
            color: $c-white;
        }
    }

    &__navigation-list {
        justify-content: space-between;
        font-size: 16px;
        display: flex;
        gap: 56px;
    }

    &__navigation-btn {
        background: linear-gradient(94.26deg, $c-nav-btn 9.51%, $c-nav-btn-2 90.23%);
        white-space: nowrap;
        border-radius: 50px;
        padding: 10px 30px;
        border: none;
    }
}