@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: url("assets/img/bgc.png") repeat;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  color: #fff;
}

.wrapper {
  max-width: 1310px;
  padding: 10px;
  margin: 0 auto;
}

button {
  background: none;
  border: none;
}

img {
  width: 100%;
}

ul li {
  list-style: none;
}

input {
  outline: none;
}

a {
  text-decoration: none;
}

.header {
  position: fixed;
  z-index: 2;
  right: 0;
  left: 0;
  top: 0;
}
.header__wrapper {
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.1019607843);
  align-items: center;
  padding: 40px 80px;
  display: flex;
  width: 100%;
}
.header__logo {
  height: 40px;
  width: 40px;
}
.header__btn {
  display: none;
}
@media screen and (max-width: 1000px) {
  .header__btn {
    display: block;
  }
}

.navigation {
  justify-content: space-between;
  align-items: center;
  display: flex;
  gap: 20px;
}
.navigation__item a {
  color: #fff;
}
.navigation__list {
  justify-content: space-between;
  font-size: 16px;
  display: flex;
  gap: 56px;
}
@media screen and (max-width: 1000px) {
  .navigation__list {
    display: none;
  }
}
.navigation__btn, .footer__social button {
  background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
  white-space: nowrap;
  border-radius: 50px;
  padding: 10px 30px;
  border: none;
}

.burger {
  flex-direction: column;
  display: flex;
}
.burger__item {
  background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
  margin-bottom: 5px;
  border-radius: 3px;
  height: 2px;
  width: 22px;
}

.presentation-block {
  background: url("assets/img/main-screen.png");
  background-size: cover;
  align-items: center;
  position: relative;
  min-height: 830px;
  display: flex;
  width: 100%;
}
.presentation-block__title {
  line-height: 140%;
  font-size: 64px;
  color: #fff;
  max-width: 60%;
}
.presentation-block__timer {
  margin-top: 50px;
  align-items: center;
  display: flex;
  gap: 30px;
}
.presentation-block__timer-date {
  line-height: 140%;
  font-weight: 700;
  font-size: 36px;
}
.presentation-block__timer-title {
  color: rgba(255, 255, 255, 0.4);
  line-height: 140%;
  font-size: 16px;
}
.presentation-block__timer-item {
  justify-content: space-between;
  background: #121212;
  flex-direction: column;
  align-items: center;
  padding: 20px 30px;
  display: flex;
  height: 112px;
  width: 102px;
}

.order-line {
  background-color: #121212;
  justify-content: center;
  align-items: center;
  padding: 36px 0px;
  display: flex;
}
.order-line__wrapper {
  justify-content: space-between;
  align-items: center;
  display: flex;
  width: 100%;
}
.order-line__btn, .footer__form label button {
  background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
  padding: 10px 30px;
  border-radius: 50px;
  color: #fff;
  border: none;
}
.order-line__statistic {
  flex-direction: column;
  display: flex;
  gap: 10px;
}
.order-line__statistic-item {
  color: rgba(255, 255, 255, 0.4);
}
.order-line__statistic-item span {
  color: #fff;
}
.order-line__percent {
  flex-direction: column;
  flex: 0 0 50%;
  display: flex;
  gap: 8px;
}
.order-line__percent-line {
  background: linear-gradient(94.78deg, #df5950 11.19%, #451046 60.72%, #fff 61%);
  height: 6px;
}
.order-line__percent-num {
  color: rgba(255, 255, 255, 0.4);
  position: relative;
}
.order-line__percent-num span:nth-child(2) {
  position: absolute;
  right: 0;
}

.about-block {
  margin-top: 200px;
}
.about-block__wrapper {
  justify-content: space-between;
  align-items: center;
  display: flex;
}
@media screen and (max-width: 1200px) {
  .about-block__wrapper {
    flex-direction: column;
    gap: 40px;
  }
}
.about-block__cube {
  position: relative;
}
.about-block__border {
  background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
  position: relative;
  height: 499px;
  width: 526px;
}
.about-block__border::after {
  background: url("assets/img/bgc.png") repeat;
  transform: translate(30px, 30px);
  position: absolute;
  height: 442px;
  width: 466px;
  content: "";
}
.about-block__img {
  background: url("assets/img/comp.png");
  position: absolute;
  height: 446px;
  width: 446px;
  right: 40px;
  top: 96px;
}
.about-block__text-content {
  flex: 0 0 50%;
}
.about-block__title {
  line-height: 140%;
  font-weight: 700;
  font-size: 48px;
}
.about-block__description {
  padding-top: 45px;
  line-height: 160%;
  font-size: 16px;
}

.ellipse__item {
  height: 90px;
  width: 90px;
}
.ellipse__item::before {
  -webkit-mask: radial-gradient(farthest-side, rgba(0, 0, 0, 0) calc(99% - 10px), #000 calc(100% - 10px));
  mask: radial-gradient(farthest-side, rgba(0, 0, 0, 0) calc(99% - 10px), #000 calc(100% - 10px));
  background: conic-gradient(#DF5950 11.19%, #451046 50%, #000 0);
  border-radius: 50%;
  display: block;
  z-index: -1;
  content: "";
  height: 100%;
  inset: 0;
}

.item_0::before {
  transform: rotate(-45deg);
}

.item_1::before {
  transform: rotate(135deg);
}

.item_2::before {
  transform: rotate(90deg);
}

.item_3::before {
  transform: rotate(-90deg);
}

.quick-start {
  margin-top: 200px;
}
.quick-start__title {
  align-items: center;
  display: flex;
}
.quick-start__title h2 {
  padding-left: 20px;
  line-height: 140%;
  font-weight: 700;
  font-size: 48px;
}
.quick-start__sub-title {
  color: rgba(255, 255, 255, 0.4);
  line-height: 160%;
  padding-top: 50px;
  max-width: 400px;
  font-size: 16px;
}
.quick-start__statistic {
  align-items: center;
  padding-top: 80px;
  display: flex;
}
.quick-start__statistic-item {
  justify-content: space-between;
  flex-direction: column;
  min-height: 270px;
  display: flex;
  width: 25%;
}
.quick-start__statistic-item-percent {
  line-height: 140%;
  font-weight: 700;
  font-size: 36px;
}
.quick-start__statistic-item-block {
  background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
  display: block;
  height: 80px;
  width: 100%;
}
.quick-start__statistic-item-text {
  color: rgba(255, 255, 255, 0.4);
  line-height: 160%;
  font-weight: 400;
  font-size: 14px;
  max-width: 95%;
}

.height-75 {
  height: 60px;
}

.height-50 {
  height: 40px;
}

.height-25 {
  height: 20px;
}

.get-proff {
  padding-top: 200px;
}
.get-proff__title {
  text-align: center;
  line-height: 140%;
  font-weight: 700;
  font-size: 48px;
}
.get-proff__benefits {
  padding-top: 120px;
  display: flex;
}
.get-proff__benefits-item {
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  text-align: center;
  display: flex;
}
.get-proff__benefits-item-icon {
  max-height: 100px;
  max-width: 100px;
}
.get-proff__benefits-item-title {
  padding-top: 60px;
  line-height: 140%;
  font-weight: 500;
  font-size: 24px;
}
.get-proff__benefits-item-description {
  color: rgba(255, 255, 255, 0.8);
  padding-top: 30px;
  line-height: 160%;
  font-size: 16px;
}

.partners {
  padding-top: 230px;
}
.partners__list {
  padding-top: 90px;
  flex-wrap: wrap;
  display: flex;
}
.partners__item {
  border-right: 1px solid rgba(255, 255, 255, 0.4);
  padding: 30px 66px;
  border-top: none;
  width: 25%;
}
@media screen and (max-width: 1000px) {
  .partners__item {
    padding: 15px 33px;
  }
}
@media screen and (max-width: 600px) {
  .partners__item {
    padding: 10px 22px;
  }
}
.partners__item:nth-of-type(4n) {
  border-right: none;
}
.partners__item--border {
  border-top: 1px solid rgba(255, 255, 255, 0.4);
}

.program-block {
  padding-top: 240px;
}
.program-block__wrapper {
  flex-direction: column;
  align-items: center;
  display: flex;
}
.program-block__title {
  padding-top: 75px;
}
.program-block__subtitle {
  color: rgba(255, 255, 255, 0.4);
  text-align: center;
  padding-top: 30px;
}
.program-block__scheme {
  padding-top: 80px;
  min-height: 677px;
  display: flex;
}
.program-block__scheme-side {
  justify-content: space-around;
  flex-direction: column;
  display: flex;
}
.program-block__scheme-side-item {
  align-items: center;
  display: flex;
}
.program-block__scheme-side-item-text {
  padding: 0 36px 0 20px;
  flex-direction: column;
  align-items: flex-end;
  max-width: 284px;
  display: flex;
}
.program-block__scheme-side-item-text--reverse {
  align-items: flex-start;
}
.program-block__scheme-side-item-text span:nth-of-type(1) {
  color: rgba(255, 255, 255, 0.4);
  line-height: 160%;
  font-size: 14px;
}
.program-block__scheme-side-item-text span:nth-of-type(2) {
  padding-top: 15px;
  line-height: 160%;
  font-size: 18px;
  text-align: end;
}
.program-block__scheme-side-item-separator {
  background: rgba(255, 255, 255, 0.3019607843);
  height: 1px;
  width: 40px;
}
.program-block__scheme-side-separator {
  background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
  width: 6px;
}

.teachers {
  padding-top: 230px;
}
.teachers__wrapper, .teachers__item, .teachers__list {
  justify-content: space-between;
  flex-direction: column;
  display: flex;
}
.teachers__list {
  flex-direction: row;
  align-items: center;
  padding-top: 113px;
  width: 100%;
}
.teachers__item {
  align-items: center;
  gap: 40px;
}
.teachers__item-photo {
  border-radius: 50%;
  max-width: 190px;
  height: 190x;
}
.teachers__item-name {
  text-align: center;
  line-height: 140%;
  font-weight: 500;
  font-size: 24px;
}
.teachers__item-possition {
  color: rgba(255, 255, 255, 0.8);
  padding-top: 15px;
  line-height: 160%;
  font-weight: 400;
  font-size: 16px;
}
.teachers__item-biography {
  border: 1px solid #fff;
  border-radius: 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 15px;
  background: none;
  line-height: 150%;
  color: #fff;
  font-size: 16px;
}

.footer {
  padding-top: 200px;
  padding-bottom: 50px;
}
.footer__wrapper {
  justify-content: center;
  flex-direction: column;
  align-items: center;
  display: flex;
}
.footer__title {
  line-height: 140%;
  font-weight: 700;
  font-size: 48px;
}
.footer__sub-title {
  color: rgba(255, 255, 255, 0.4);
  text-align: center;
  line-height: 160%;
  padding-top: 30px;
  font-weight: 400;
  font-size: 16px;
}
.footer__form {
  padding-top: 60px;
}
.footer__form label {
  position: relative;
  display: flex;
  width: 492px;
}
.footer__form label input {
  background: rgba(255, 255, 255, 0.2509803922);
  border-radius: 50px;
  padding: 10px 30px;
  color: #fff;
  border: none;
  width: 100%;
}
.footer__form label button {
  position: absolute;
  right: 0px;
}
.footer__social {
  padding-top: 30px;
  display: flex;
  gap: 30px;
}
.footer__social button {
  padding: 10px;
  height: 50px;
  width: 50px;
}
.footer__social button img {
  max-width: 100%;
}

.modal {
  background-color: rgba(31, 31, 36, 0.2);
  justify-content: center;
  pointer-events: none;
  align-items: center;
  transition: 0.5s;
  position: fixed;
  display: flex;
  height: 100vh;
  width: 100vw;
  z-index: 200;
  opacity: 0;
  left: 0;
  top: 0;
}
.modal.active {
  pointer-events: all;
  opacity: 1;
}
.modal__content {
  background-color: #fff;
  transform: scale(0.5);
  transition: 0.4s all;
  padding: 10px;
  width: 50vw;
}
.modal__content.active {
  transform: scale(1);
}/*# sourceMappingURL=index.css.map */