.quick-start {
    margin-top: 200px;

    &__title {
        align-items: center;
        display: flex; 

        & h2 {
            padding-left: 20px;
            line-height: 140%;
            font-weight: 700;
            font-size: 48px;
        }
    }

    &__sub-title {
        color: $c-light-white;
        line-height: 160%;
        padding-top: 50px;
        max-width: 400px;
        font-size: 16px;
    }

    &__statistic {
        align-items: center;
        padding-top: 80px;
        display: flex;

        &-item {
            justify-content: space-between;
            flex-direction: column;
            min-height: 270px;
            display: flex;
            width: 25%;

            &-percent {
                line-height: 140%;
                font-weight: 700;
                font-size: 36px;
            }

            &-block {
                background: linear-gradient(94.26deg, $c-nav-btn 9.51%, $c-nav-btn-2 90.23%);
                display: block;
                height: $height;
                width: 100%;
            }

            &-text {
                color: $c-light-white;
                line-height: 160%;
                font-weight: 400;
                font-size: 14px;
                max-width: 95%;
            }
        }
    }
}

.height-75 {
    height: calc($height*0.75);
}

.height-50 {
    height:  calc($height*0.5);
}

.height-25 {
    height: calc($height*0.25);
}